<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright &copy; 2015, Asimi Soft Pvt Ltd</p>
        </div>
        <div class="s-12 l-6">
            <p class="right">Give us chance to work, we will provide you better solution more than your expectaction.</p>
            <p class="left">Responsive Design, Desktop, Website, Web apps, Mobile apps, Logo & Graphic Designs, and many more e-solutions.</p>
        </div>
    </div>
</footer>
